@use "@/variables" as v;

.container {
    height: 50px;
    width: 100%;
    margin: 10px 0;
}

.light {
    background-color: v.$element-background;
}

.dark {
    background-color: rgb(42, 41, 41);
}