@use "@/variables" as v;
@use "@/mixins" as m;

.container {
  margin: 30px 30px;
  @include m.flex-center(column);

  .vegetables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: v.$main-gap;
  }
}
