@use "@/variables" as v;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  justify-content: center;
  align-items: start;
  gap: v.$main-gap;
  padding: 10px;
  grid-area: "aria-5" ;

  .element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: v.$main-gap;
    text-align: center;
    width: 100%;
  }

  .featured {
    grid-column: span 2;
    background-color: #e0e0e0;
  }
}

