@use "@/mixins" as m;

.container {
  @include m.flex-center(column, 20px);
  width: 100%;

  .filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 16px;
    background-color: #eee;

    label {
      display: flex;
      gap: 5px;
    }
  }

  .tableWrapper {
    height: 900px;
    overflow-y: auto;
    margin: 20px, 0;
    width: 100%;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 8px;
    }
  }

  .tableContainer {
    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 15px;

      thead {
        position: sticky;
        top: 0;
        background-color: #eee;

        tr {
          padding: 12px 16px;
          font-weight: 600;
        }
      }
      th,
      td {
        width: 25%;
      }

      tbody {
        &.loading {
          opacity: 0.5;
        }
        td {
          padding: 14px 16px;
          border: 1px solid #eee;
        }
      }
    }
  }
}
