@use "@/variables" as v;
@use "@/mixins" as m;

.container {
  @include m.flex-center(column);

  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: v.$main-gap;
    max-width: 600px;
    width: 100%;

    div {
      width: 100%;
    }

    textarea {
      font-family: inherit;
      width: 100%;
      outline: none;
      min-height: 150px;

      &:focus {
        border-bottom-color: #000;
      }
    }

    .containerButton {
      display: flex;
      justify-content: center;
    }

    .successMessage {
      text-decoration: underline;
      color: #28a745; // ładny zielony
      font-weight: 500;
      margin-top: 10px;
      display: block; // żeby span zachowywał się przewidywalnie
    }

    .errorMessage {
      text-decoration: underline;
      color: red; // ładny zielony
      font-weight: 500;
      margin-top: 10px;
      display: block; // żeby span zachowywał się przewidywalnie
    }
  }
}
