.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
}

.form div {
    width: 100%;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px #848383 solid;
  outline: none;
}

.input:focus {
  border-bottom-color: #000;
}

textarea {
  font-family: inherit;
  width: 100%;
  outline: none;
  min-height: 150px;
}

textarea:focus {
  border-bottom-color: #000;
}

select {
  width: 100%;
  outline: none;
}

.containerButton {
    display: flex;
    justify-content: center;
}