.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 10px;
}

.toll {
  height: 1600px;
  width: 100%;
  background-color: #f6f6f6;
  text-align: center;
  position: relative;
}

.toll::after{
    content: "Scroll Down";
    position: absolute;
    top: 20px;
}

.unvisible {
  opacity: 1;
}

.unvisible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}
