@use "@/variables" as v;

@mixin flex-center($direction: row, $custom-gap: v.$main-gap) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  gap: $custom-gap;
}
